@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

nav ul li #home{
  color: #ffffff;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
}


  p{
    text-align: center;
    color: black;
    padding-top: 100px;
    font-size: 40px;
  }
  .content{
    background:linear-gradient(45deg, #dc3b3e, #3b99dc 50%, #3bdc90 75%, rgb(255 141 0) 100%);
}
span{
    font-family: 'Kanit', sans-serif;
    font-size: 70px;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgb(41, 41, 44);
}
